@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
body {
  background-color: #e9f7ca;
  height: 100vh;
  overflow: hidden;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.head_cs {
  font-family: "Concert One", cursive;
  color: #f34213;
}
.list_cs {
  text-transform: capitalize;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.list_cs p {
  margin: 5px;
}
.card_cs {
  border-radius: 10px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
